<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="shortcut icon" href="/static/img/icon.png">
    <link rel="icon" href="/static/img/icon.png">
    {% block header %}{% endblock %}
</head>

<body>
    <header>
        <nav class="header__nav">
            <ul>
                <li><a href="/">О проекте</a></li>
                <li><a id="contacts" style="cursor:pointer;">Контакты</a></li>
                <li><a href="/data">Исследования</a></li>
            </ul>
        </nav>
    </header>
    <div class="welcome_heading"><img src="/static/img/Preview.png" class="welcome" fetchpriority="hight"/></div>

    <main id="main" class="main">
        {% block content %}{% endblock content %}
    </main>

    <footer id="footer" class="footer">
        <div class="footer_desc">
            <div class="container footer__desk-container">
                <div class="footer__about">
                    <h4>О нас</h4>
                    <p>Мы исследователи воды Перми!</p>
                </div>
                <div class="foooter__links">
                    <h4>Источники</h4>
                    <ul>
                        <li><p>Зацепина Г .Н. Физические свойства и структура воды - МГУ</p></li>
                        <li><p>Котляревская Н.В Вода как природный ресурс - Наука</p></li>
                        <li><p>Вода: структура,состояние,сольватизация - Наука</p></li>
                    </ul>
                </div>
                <div class="footer__social">
                    <h4>Соц. сети школы</h4>
                    <ul>
                        <li>
                            <img src="/static/img/vk-logo-24.png" alt="vk">
                            <a href="https://vk.com/maoy_abt">ВКонтакте</a>
                        </li>
                        <li>
                            <img src="/static/img/school-solid-24.png" alt="site">
                            <a href="https://agro.permedu.ru/">Сайт школы</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_copy">
            <div class="container">
                <p>Школа "Агробизнес технологий"</p>
            </div>
        </div>
    </footer>
    <script src="/static/js/base.js"></script>
</body>

</html>