{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="/static/css/data.css">
<title>Данные о воде Пермского края</title>
{% endblock header%}

{% block content %}
<section class="data">
    <div class="container">
        <h3 class="title">Данные</h3>
        <p class="description">Здесь дальше будет пушка!</p>
    </div>

    <table class="table_1">
        <colgroup>
            <col><col><col><col>
        </colgroup>
        <thead>
            <tr><th colspan="4" class="caption">Общее</th></tr>
            <tr>
                <th>Водоём</th>
                <th>Общая оценка</th>
                <th>Кислотность</th>
                <th>Содержание нефтепродуктов</th>
            </tr> 
       </thead>
       <tbody>
            {% for i in info %}
            <tr>
               {% for j in range(4) %}
               <td>{{ i[j] }}</td>
               {% endfor %}
           </tr>
           {% endfor %}
       </tbody>
    </table>   
    <table class="table_2">
        <colgroup>
            <col span="2">
        </colgroup>
        <thead>
            <tr>
                <th class="caption" colspan="2">Химические элементы</th>
                <th class="caption" colspan={{ size }}>Водоёмы</th>
            </tr>
            <tr>
                <th>Элемент/ион</th>
                <th>Химический символ</th>
                
                {% for i in info %}
                <th>{{ i[0] }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr><td>Хлориды</td></tr>
            <tr><td>Сульфаты</td></tr>
            <tr><td>Бромиды</td></tr>
            <tr><td>Фториды</td></tr>
            <tr><td>Бор</td></tr>
            <tr><td>Натрий</td></tr>
            <tr><td>Магний</td></tr>
            <tr><td>Кальций</td></tr>
            <tr><td>Калий</td></tr>
            <tr><td>Стронций</td></tr>
            <tr><td>Свинец</td></tr>
            <tr><td>Цинк</td></tr>
            <tr><td>Железо</td></tr>
            <tr><td>Марганец</td></tr>
            <tr><td>Медь</td></tr>
        </tbody>
    </table> 
</section>
{% endblock content %}

<!--        {% for i in data %}-->
<!--            <tr>-->
<!--                {% for j in i %}-->
<!--                <td>{{ j }}</td>-->
<!--                {% endfor %}-->
<!--            </tr>-->
<!--            {% endfor %}-->