<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/icon.png">
    <link rel="icon" href="/static/img/icon.png">
    <title>Вход в систему</title>
</head>
<body>
    <h1>Вход в систему</h1>
    <form method="post" action="">
        <label for="pass-input">Пароль</label>
        <input id="pass-input" type="password" name="pass-input" autofocus="true" minlength="1" maxlength="256" required/>
        <br/><input type="submit" value="Войти"/>
    </form>
    {% if error %}<p style="color:red;">{{ error }}</p>{% endif %}
</body>
</html>