{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="/static/css/index.css">
<title>Химия в воде и почве</title>
{% endblock header %}

{% block content %}
<section class="about common_section">
    <div class="container">
        <div class="title-wraper">
            <h3 class="title">О нас</h3>
            <p class="description">Здесь дальше будет пушка!</p>
        </div>
        <div class="cards_wrapper">
            <div class="card">
                <img src="/static/img/capture2.png" alt="svg">
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            </div>
                <div class="card">
                    <img src="/static/img/capture.svg" alt="png">
                    <h4>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                </div>
                <div class="card">
                    <img src="/static/img/capture3.png" alt="png">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            </div>
        </div>
    </div>
</section>
<section class="tab__section common_section">
    <div class="title-wraper">
        <h3 class="title">Lorem ipsum dolor sit amet</h3>
        <p class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula</p>
            
    </div>
    <div class="tabs">
        <div class="tabs__nav">
            <button class="active" type="button">Tab number 1</button>
            <button type="button">Tab number 2</button>
            <button type="button">Tab number 3</button>
        </div>
        <div class="tabs_item">
            <img src="/static/img/1.jpg" alt="proekt" >
            <div class="tabs_desc">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            </div>
        </div>      
    </div>
    <div class="tabs">
        <div class="tabs_item">
            <img src="/static/img/2.jpg" alt="proekt" >
            <div class="tabs_desc">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,\
                     sem. Nulla consequat massa quis enim.</p>
            </div>
        </div>      
    </div>
    <div class="tabs">
        <div class="tabs_item">
            <img src="/static/img/3.jpg" alt="proekt" >
            <div class="tabs_desc">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, \
                    pretium quis, sem. Nulla consequat massa quis enim.</p>
            </div>
        </div>      
    </div>
</section>
{% endblock content %}