<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<body>
    <title>WORK</title>
    <!-- <description>Здесь дальше будет пушка!</description> -->
    <header>
       
            <nav class="header__nav">
                <ul>
                    <li><a href="#main">О проекте</a></li>
                    <li><a href="#footer">Контакты</a></li>
                </ul>
            </nav>  
        
    </header>

    <main id="main" class="main">
        <section class="welcome">
            <div class="container">
                <h2 class="welcome__heading">Химия в воде и почве</h2>
            </div>
        </section>
    
        <section class="about common_section">
            <div class="container">
                <div class="title-wraper">
                    <h3 class="title">О нас</h3>
                    <p class="description">Признаемся, мы любим The Last of Us. Очень. И будем рады вашему отклику!</p>
                </div>
                <div class="cards_wrapper">
                    <div class="card">
                        <img src="img/fireflies.svg" alt="svg">
                        <h4>История создания</h4>
                        <p>Перед выходом игры, создатели не стесняясь, врали в интервью, чтобы не раскрывать детали сюжета. Например, они с самого начала знали, что..</p>
                    </div>
                        <div class="card">
                            <img src="img/raketa.png" alt="png">
                            <h4>Развитие персонажей</h4>
                            <p>Если игрок зря тратит патроны или ничего не делает, Элли живо на это реагирует. Причём ребята из Naughty Dog припасли на этот случай много вариантов..</p>
                        </div>
                        <div class="card">
                            <img src="img/together.png" alt="png">
                            <h4>Разработка</h4>
                            <p>Идея геймплея зародилась ещё во время обсуждения Uncharted 2. По сюжету Натан Дрейк попадает..</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="tab__section common_section">
            <div class="title-wraper">
                <h3 class="title">Эмоциональная составляющая игры</h3>
                <p class="description">Самое главное в The last of us — 
                    эмоции и переживания персонажей</p>
                    
            </div>
            <div class="tabs">
                <div class="tabs__nav">
                    <button class="active" type="button">Tab number 1</button>
                    <button type="button">Tab number 2</button>
                    <button type="button">Tab number 3</button>
                </div>
                <div class="tabs_item">
                    <img src="img/odin.jpg" alt="tlou" >
                    <div class="tabs_desc">
                        <p>Несмотря на многие невзгоды, Элли и Джоэл остались вместе, на протяжении всей игры
                             Джоэл переходит от ненависти до любви по отношению к маленькой девочке,что и делает эту игру
                              более эмоциональнее и душевнее.</p>
                    </div>
                </div>      
            </div>
            <div class="tabs">
                <div class="tabs_item">
                    <img src="img/sad.jpg" alt="tlou" >
                    <div class="tabs_desc">
                        <p>Несмотря на многие невзгоды, Элли и Джоэл остались вместе, на протяжении всей игры
                             Джоэл переходит от ненависти до любви по отношению к маленькой девочке,что и делает эту игру
                              более эмоциональнее и душевнее.</p>
                    </div>
                </div>      
            </div>
            <div class="tabs">
                <div class="tabs_item">
                    <img src="img/alone.jpg" alt="tlou" >
                    <div class="tabs_desc">
                        <p>Несмотря на многие невзгоды, Элли и Джоэл остались вместе, на протяжении всей игры
                             Джоэл переходит от ненависти до любви по отношению к маленькой девочке,что и делает эту игру
                              более эмоциональнее и душевнее.</p>
                    </div>
                </div>      
            </div>
        </section>
    </main>   
        <footer id="footer" class="footer">
            <div class="footer_desc">
             <div class="container footer__desk-container">
                 <div class="footer__about">
                     <h4>О нас</h4>
                     <p>Мы команда "TeenNormal" пишем статьи о наших 
                         любимых играх,рассуждаем и делимся с нашими 
                         читателями новыми теориями и новостями! </p>
                 </div>
                 <div class="foooter__links">
                     <h4>Источники</h4>
                     <ul>
                         <li><a href="#">Thelastosus_oficcial.ru</a></li>
                         <li><a href="#">Hunter_hunterx.com</a></li>
                         <li><a href="#">TeenNormal%high.com</a></li>
                         <li><a href="#">Fightskills__jogo.ru</a></li>
                     </ul>
                 </div>
                 <div class="footer__social">
                     <h4>Наши соц.сети</h4>
                     <ul>
                         <li>
                             <img src="img/fb.svg" alt="facebook">
                             <a href="#!">Facebook</a>
                         </li>
                         <li>
                             <img src="img/google.svg" alt="google">
                             <a href="#!">Google</a>
                         </li>
                         <li>
                             <img src="img/pinterest.svg" alt="pint">
                             <a href="#!">Pinterest</a>
                         </li>
                         <li>
                             <img src="img/twitter.svg" alt="twitter">
                             <a href="#!">Twitter</a>
                         </li>
                     </ul>
                 </div>
             </div>
            </div> 
            <div class="footer_copy">
             <div class="container">
                 <p>Copyright ABT Inc. Made in Webflow</p>
             </div>
            </div>
         </footer>
    <link rel="stylesheet" href="/static/js/function.js">
</body>
</html> 




<!-- <h2 class="welcome__heading">Welcome to the house!</h2>
                <div class="welcome__links">
                    <a href="#!" class="link-primary">Sign Up</a>
                    <a href="#!" class="link">Learn more</a>
                </div> -->
<!-- <div class="section_1">
            <li>Исследования</li>
            <li></li>
            <li>Рейтинг</li>
            <div class="text">
        .....................................................</div>
        </div> -->